<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simple Chat</title>
	<link rel="stylesheet" href="style/main.css">
</head>
<body>
    <div id="chat">
    	<ul id="sentMsg"></ul>
	    <form method="" action="">
	      <input type="text" id="msg" placeholder="Say something" autocomplete="off" />
	    </form>
    </div>
	<script>
		var username = <%- JSON.stringify(nickname) %>;
		var id = <%- JSON.stringify(id) %>;
	</script>
	<script src="script/socket.io.js"></script>
	<script src="script/main-min.js"></script>
</body>
</html>