<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simple Chat</title>
	<link rel="stylesheet" href="style/main.css">
</head>
<body>
	
	<div id="user">
		<form method="post" action="chat">
			<label for="nickname">Enter a nickname</label>
			<div id="nicknameInput">
				<input type="text" id="nickname" name="nickname" placeholder="MyNickname" required>
			</div>
		</form>
	</div>
</body>
</html>